$bp-tablet: 768px;
$bp-desktop: 1200px;

$col-primary: #0091dc;
$col-secondary: #a46af1;
$col-gray: #a4a4a4;
$col-text: #4b4b4b;

$col-stars: #d79507;
$col-stars-hovered: #ecbe0b;

$gradient-primary-secondary: linear-gradient(to bottom right, pastellize($col-primary, 20), pastellize($col-secondary, 10));

$width: min(90%, 75rem);


$colors: ('primary': $col-primary, 'secondary': $col-secondary, 'gray': $col-gray);
@each $name, $hex in $colors {
  .fc-#{$name} {
    color: $hex;
  }

  .bg-#{$name} {
    background-color: $hex;
  }
}

@function pastellize($color, $amount) {
  @return desaturate(lighten($color, $amount), $amount/2);
}