$bp-tablet: 620px;
$bp-desktop: 1080px;

$col-primary: #0091dc;
$col-secondary: #a46af1;
$col-gray-lightest: #e3e3e3;
$col-gray-lighter: #d0d0d0;
$col-gray: #bbbbbb;
$col-gray-darker: #9d9d9d;
$col-gray-darkest: #818181;
$col-text: #4b4b4b;
$col-white: #fdfdfd;

$col-stars: #d79507;
$col-stars-hovered: #ecbe0b;

$gradient-primary-secondary: linear-gradient(to bottom right, pastellize($col-primary, 20), pastellize($col-secondary, 10));

$width: min(90%, 75rem);


$colors: ('primary': $col-primary, 'secondary': $col-secondary, 'gray': $col-gray);
@each $name, $hex in $colors {
  .fc-#{$name} {
    color: $hex;
  }

  .bg-#{$name} {
    background-color: $hex;
  }
}

@function pastellize($color, $amount) {
  @return desaturate(lighten($color, $amount), $amount/2);
}

@mixin hover() {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}