@use "utils";

.head-illustration {
  width: min(45%, 15rem);
  display: flex;
  margin-inline: auto;
  margin-top: 12.5%;

  @media screen and (min-width: utils.$bp-tablet) {
    margin-top: 5rem;
  }
}

.bestellinformationen {
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    padding: .5em 1em;
    border-radius: 10px;

    &:nth-child(odd) {
      background-color: utils.$col-gray-lightest;
    }
  }
}