@use "utils";

.cart-items {
  display: flex;
  flex-direction: column;
  gap: .85rem;

  @media screen and (min-width: utils.$bp-tablet) {
    gap: 1.25rem;
  }

  .cart-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;

    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(0 0 0 / 5%);
    background: var(--col-white-element);
    padding: .85rem;

    @media screen and (min-width: utils.$bp-tablet) {
      padding: 1.25rem;
      flex-direction: row;
    }

    .article-information {
      display: flex;
      flex-direction: column;
      gap: .75rem;

      @media screen and (min-width: utils.$bp-tablet) {
        gap: 1.25rem;
        flex-direction: row;
      }

      @media screen and (min-width: utils.$bp-desktop) {
        gap: 1.75rem;
      }


      img {
        border-radius: 15px;
        aspect-ratio: 1/1;

        @media screen and (min-width: utils.$bp-tablet) {
          max-height: 200px;
          max-width: 200px;
        }
      }
    }

    .cart-item-actions {
      display: flex;
      align-items: flex-end;

      > * {
        width: 100%;

        @media screen and (min-width: utils.$bp-tablet) {
          width: unset;
        }
      }
    }
  }

  .no-items {
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    border: 2px dashed var(--col-gray);

    @media screen and (min-width: utils.$bp-tablet) {
      padding: 1.5rem;
    }

    span.icon {
      font-size: 3.5rem;
      margin-bottom: 1rem;
      color: var(--col-gray-darker);
    }


    p {
      @media screen and (min-width: utils.$bp-tablet) {
        width: 75%;
        margin-inline: auto;
      }
      @media screen and (min-width: utils.$bp-desktop) {
        width: 50%;
      }
    }

    &.hidden {
      display: none;
    }
  }
}