@use "utils";

.no-items {
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  border: 2px dashed var(--col-gray);

  @media screen and (min-width: utils.$bp-tablet) {
    padding: 1.5rem;
  }

  span.icon {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: var(--col-gray-darker);
  }


  p {
    @media screen and (min-width: utils.$bp-tablet) {
      width: 75%;
      margin-inline: auto;
    }
    @media screen and (min-width: utils.$bp-desktop) {
      width: 50%;
    }
  }

  &.hidden {
    display: none;
  }
}

.cart {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;

  @media screen and (min-width: utils.$bp-desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5rem;
  }

  .cart-items {
    width: 100%;
  }
}

.cart-item-list {
  display: flex;
  flex-direction: column;
  box-shadow: map-get(utils.$boxShadows, 'sm');
  background: var(--col-white-element);
  border-radius: 15px;
  overflow: hidden;

  .cart-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    padding-block: .85rem;
    padding-inline: .85rem;

    &:nth-child(even) {
      background: var(--col-white-element-higher);
    }

    @media screen and (min-width: utils.$bp-desktop) {
      flex-direction: row;
    }

    .article-text {
      width: 100%;
    }

    .article-information {
      display: flex;
      flex-direction: column;
      gap: .75rem;
      width: 100%;

      @media screen and (min-width: utils.$bp-tablet) {
        gap: 1.25rem;
        flex-direction: row;
      }

      @media screen and (min-width: utils.$bp-desktop) {
        gap: 1.75rem;
      }


      img {
        border-radius: 15px;
        aspect-ratio: 1/1;

        @media screen and (min-width: utils.$bp-tablet) {
          max-height: 175px;
          max-width: 175px;
        }
      }
    }

    .cart-item-actions {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      margin-top: 1.5rem;

      > * {
        width: 100%;

        @media screen and (min-width: utils.$bp-tablet) {
          width: unset;
        }
      }
    }
  }
}

.summary {
  @media screen and (min-width: utils.$bp-desktop) {
    position: sticky;
    top: 10rem;
  }

  input {
    color: var(--col-tertiary);
  }

  display: flex;
  flex-direction: column;
  gap: .5rem;

  .details {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-top: 1.25rem;

    .coupon {
      margin-top: .5rem;
    }

    .sflex {
      display: flex;
      gap: 1.5rem;
      justify-content: space-between;
    }
  }

  > div {
    border-radius: 10px;
    box-shadow: map-get(utils.$boxShadows, 'md');
    background: var(--col-white-element);
    text-align: center;
    width: 100%;
    padding: .75rem 1.25rem;

    @media screen and (min-width: utils.$bp-tablet) {
      padding: 2rem 1.75rem;
      min-width: 350px;
    }

    &:nth-child(n+2) {
      padding-block: .75rem;

      @media screen and (min-width: utils.$bp-tablet) {
        padding-block: 1rem;
      }
    }
  }

  span {
    text-transform: uppercase;
    color: var(--col-gray-darker);
  }

  h3 {
    margin: 0;
    font-size: 1.75rem;
  }

  .infos {
    display: flex;
    flex-direction: column;
    gap: .25rem;

    .info {
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: .25em;

      span {
        font-size: .9rem;
      }

      /*@media screen and (min-width: utils.$bp-tablet) {
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
      }*/

      p {
        color: var(--col-secondary);
        font-size: 1.175rem;
      }

      > * {
        width: 100%;
      }
    }
  }

  > .button {
    margin-top: .75rem;
  }
}