@use "utils";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import "../../node_modules/untoasted/scss/toasted";

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/montserrat-v25-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../fonts/montserrat-v25-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/montserrat-v25-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/montserrat-v25-latin-600.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/montserrat-v25-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/montserrat-v25-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/montserrat-v25-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../fonts/montserrat-v25-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/montserrat-v25-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/montserrat-v25-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/montserrat-v25-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}



/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 500;
  src: url(../../fonts/google-icons.woff2) format('woff2');
}

.icon, .material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Animate */
/*main:not(.ignore-animation), section:not(.ignore-animation) {
  div, ul, ol, li, article, h1, h2, h3, h4, h5, h6 {
    &:not(.ignore-animation) {
      opacity: 0;
    }:
  }
}*/

body {
  font-family: 'Montserrat', "Helvetica Neue", sans-serif;
  color: var(--col-text);
  transition-duration: .25s;
}

html, body {
  background-color: var(--col-background);
}

main {
  width: utils.$width;
  margin-inline: auto;
  margin-block: 5%;
  min-height: 65vh;

  @media screen and (min-width: utils.$bp-tablet) {
    margin-block: 3%;
  }

  @media screen and (min-width: utils.$bp-desktop) {
    margin-block: 2.5%;
  }

  &:not(.ignore-flex) {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media screen and (min-width: utils.$bp-tablet) {
      gap: 4.5rem;
    }

    @media screen and (min-width: utils.$bp-desktop) {
      gap: 5.75rem;
    }

    &.small-space {
      gap: 2.5rem;

      @media screen and (min-width: utils.$bp-tablet) {
        gap: 3.5rem;
      }

      @media screen and (min-width: utils.$bp-desktop) {
        gap: 4.5rem;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--col-primary);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;

  > * {
    margin: 0;
  }
}

section {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5em;
  }
}

img {
  width: 100%;
}

@mixin button() {
  position: relative;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  z-index: 3;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition-duration: .175s;
  padding: .5em 1.45em;

  @media screen and (min-width: utils.$bp-tablet) {
    padding: .5em 1.6em;
    border-radius: 10px;
  }
}

@mixin inlineButton() {
  padding: .25em .65em;
  font-size: .9em;

  @media screen and (min-width: utils.$bp-tablet) {
    padding: .35em .85em;
  }
}

@keyframes danger {
  0% {
    outline-color: var(--col-u-danger);
  }

  50% {
    outline-color: var(--col-u-danger-dark);
  }

  100% {
    outline-color: var(--col-u-danger);
  }
}

.button {
  @include button();
  background: var(--col-primary);
  color: var(--col-white-element);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: map-get(utils.$boxShadows, 'sm');

  &.inline {
    @include inlineButton();
  }

  &.danger {
    position: relative;
    background: var(--col-u-danger);
    transition-duration: .25s;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      outline: 2px dashed var(--col-u-danger);
      outline-offset: -3px;
      transition-duration: .25s;
    }

    @include utils.hover {
      &::before {
        transform: scale3d(1.1, 1.3, 1);
        animation: danger 2s infinite;
      }
    }
  }

  @include utils.hover {
    cursor: pointer;
    color: var(--col-text);
    box-shadow: map-get(utils.$boxShadows, 'lg');
  }
}

.button-secondary {
  @include button();

  &.inline {
    @include inlineButton();
  }

  border: 2px solid var(--col-secondary);
  color: var(--col-secondary);

  &:hover {
    color: var(--col-primary);
    border-color: var(--col-primary);
  }
}

html .button-tertiary {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--col-secondary);
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition-duration: .25s;

  @include utils.hover {
    color: var(--col-primary);
  }

  &.not-flex {
    display: inline-block;

    &::after {
      position: relative;
      top: .15em;
    }
  }

  &::after {
    font-family: bootstrap-icons;
    margin-left: .25em;
    content: '\F138';
  }

  &.inline {
    display: inline-flex !important;
  }
}

@mixin outlinedIconText() {
  border-radius: 100px;
  border: 1px solid;
  padding: .5em .75em;
  display: inline-flex;
}

.icon-text {
  display: inline-flex;
  align-items: center;
  gap: .25em;
  border: 1px solid transparent;
  transition-duration: .25s;

  &.large {
    font-size: 1.5rem;
  }

  @each $name, $hex in utils.$colors {
    &.outline-#{$name} {
      @include outlinedIconText;
      border-color: $hex;
    }
  }

  &.hoverable {
    &:hover {
      border-bottom: 1px solid var(--col-primary);
    }
  }

  &.small .icon {
    font-size: 85%;
  }
}

.no-underline {
  text-decoration: none;
}

.strike {
  text-decoration-line: line-through;
}

.parallax {
  display: none;

  @media screen and (min-width: utils.$bp-tablet) {
    display: block;
    min-height: 20vh;
    background-attachment: fixed;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dashed var(--col-gray)-darkest;

  .tooltip-content {
    opacity: 0;
    user-select: none;
    touch-action: none;
    pointer-events: none;
    min-width: 400px;
    background: var(--col-white-element-higher);
    border-radius: 10px;
    box-shadow: map-get(utils.$boxShadows, 'xl');
    padding: 1.5rem;

    /* Position the tooltip */
    position: absolute;
    z-index: 99;
    top: -5px;
    left: 105%;
    transform: translateY(20px);
    transition-duration: .25s;

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0;
    }
  }

  &:hover {
    cursor: help;

    .tooltip-content {
      user-select: auto;
      touch-action: auto;
      pointer-events: auto;
      transform: translateY(0);
      opacity: 1;
    }
  }
}

input, textarea {
  background-color: var(--col-white-element);
  color: var(--col-text);
}

input, textarea, label {
  font-size: 1.05rem;
}


textarea {
  resize: vertical;
  max-height: 35vh;
  width: 100%;
}

$inputGroupRadius: 10px;
.input-group {
  display: flex;
  flex-direction: row;
  width: 100%;

  > input {
    width: 100%;

    &::placeholder {
      opacity: .45;
    }
  }

  > * {
    border-radius: 0;
  }

  > *:first-child {
    border-top-left-radius: $inputGroupRadius;
    border-bottom-left-radius: $inputGroupRadius;
  }

  > *:last-child {
    border-top-right-radius: $inputGroupRadius;
    border-bottom-right-radius: $inputGroupRadius;
  }

  > input {
    border-color: var(--col-tertiary);
    border-style: solid;
    border-right: none;
    transition-duration: .25s;

    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;

    &:focus {
      border-color: var(--col-tertiary);
      border-top-width: 2px;
      border-bottom-width: 2px;
      border-left-width: 2px;

      @media screen and (min-width: utils.$bp-tablet) {
        border-top-width: 3px;
        border-bottom-width: 3px;
        border-left-width: 3px;
      }
    }
  }

  button {
    flex-shrink: 0;
    flex-grow: 0;
    background: var(--col-tertiary);
    color: var(--col-white-element);
    border: none;

    padding: .5rem 2rem;
  }
}

.head-link {
  margin-bottom: .75rem;

  @media screen and (min-width: utils.$bp-desktop) {
    margin-bottom: 1.5rem;
  }
}

input {
  font-size: 1.1rem;
  background-color: var(--col-background);
  color: var(--col-text);
  outline: none;
  transition-duration: .25s;
  padding: 1em 1.25em;

  @media screen and (min-width: utils.$bp-tablet) {
    padding: 1.25em 1.75em;
    position: relative;
    z-index: 3;
    overflow: hidden;
  }

  @media screen and (min-width: utils.$bp-desktop) {
    padding: 1.5em 2em;
  }

  &.inline {
    padding: .25em .5em;
    font-size: .95rem;

    @media screen and (min-width: utils.$bp-tablet) {
      padding: .5em .75em;
    }
  }
}

input, textarea {
  padding: .5em .85em;
  border: none;
  border-radius: 5px;
  outline: none;

  @media screen and (min-width: utils.$bp-tablet) {
    padding: .85em 1.25em;
    border-radius: 10px;
  }

  @media screen and (min-width: utils.$bp-desktop) {
    padding: 1em 1.5em;
  }
}

textarea {
  min-height: 10em;
}

.article-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;

  @media screen and (min-width: utils.$bp-tablet) {
    gap: 1rem;
  }

  @media screen and (min-width: utils.$bp-desktop) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }
}

.stars {
  color: var(--col-stars);
}

.rating-count {
  color: var(--col-primary);
}

.article {
  position: relative;
  color: var(--col-text);
  background: var(--col-white-element);
  padding: .75rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: map-get(utils.$boxShadows, 'sm');
  z-index: 3;

  transition-duration: .25s;

  @media screen and (min-width: utils.$bp-tablet) {
    padding: 1.25rem;
  }

  @media screen and (min-width: utils.$bp-desktop) {
    padding: 1.75rem;
  }


  @media screen and (hover: hover) {
    &.not-hovered {
      opacity: .55 !important;
    }
  }

  &::after {
    position: absolute;
    content: '';
    background: linear-gradient(to bottom right, var(--col-primary), var(--col-secondary));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition-duration: .25s;
  }

  @media screen and (hover: hover) {
    &:hover {
      transform: translateY(-5px) !important;
      box-shadow: map-get(utils.$boxShadows, 'lg') !important;

      @media screen and (min-width: utils.$bp-desktop) {
        transform: translateY(-10px) !important;
      }

      &::after {
        opacity: 1;
      }

      h3 {
        color: var(--col-white-element);
      }

      .stars {
        color: var(--col-stars-hovered);
      }

      .rating-count {
        color: var(--col-gray-lighter);
      }

      p {
        color: var(--col-gray-lighter);
      }
    }

    .title-price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1.5rem;
    }
  }

  a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: var(--col-primary);
    gap: 1.25rem;

    img {
      max-width: 100px;
      max-height: 100px;

      @media screen and (min-width: utils.$bp-tablet) {
        max-width: unset;
        max-height: unset;
      }
    }

    @media screen and (min-width: utils.$bp-tablet) {
      flex-direction: column;
      gap: 1rem;
    }

    > div {
      flex-shrink: 0;
    }
  }

  img {
    border-radius: 10px;
    background-color: #f3f3f3;
  }

  h3 {
    font-size: 1.25rem;
  }

  .price {
    display: none;
    color: var(--col-text);

    @media screen and (min-width: utils.$bp-tablet) {
      display: block;
    }
  }
}

a {
  color: var(--col-secondary);
}

.gradient-section {
  background: linear-gradient(to bottom right, var(--col-primary), var(--col-secondary));
  padding: 1.5rem;
  border-radius: 15px;

  @media screen and (min-width: utils.$bp-tablet) {
    padding: 2rem;
  }

  @media screen and (min-width: utils.$bp-desktop) {
    padding: 3rem;
  }

  h1,h2,h3,h4,h5,h6 {
    color: var(--col-white-element);
  }
}

.section-heading {
  margin-bottom: 1rem;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

.up {
  position: fixed;
  z-index: 999;
  display: flex;
  bottom: 1rem;
  padding: .5em;
  border-radius: 10px;
  color: #EEE;
  background: linear-gradient(to bottom right, var(--col-primary), var(--col-secondary));
  box-shadow: 0 3px 10px rgba(0 0 0 / 10%);
  cursor: pointer;
  right: -90%;
  transition-duration: .6s;

  &.show {
    right: 1rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  margin-top: 3.75rem;
  padding-top: 2.25rem;
  padding-bottom: 3.5rem;
  background: var(--col-background-darker);

  @media screen and (min-width: utils.$bp-tablet) {
    margin-top: 5rem;
    gap: 3.75rem;
  }

  @media screen and (min-width: utils.$bp-desktop) {
    margin-top: 7.5rem;
  }

  > div {
    width: utils.$width;
    margin-inline: auto;

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 3rem;
    color: var(--col-gray-darker);

    @media screen and (min-width: utils.$bp-tablet) {
      gap: 5rem;
    }

    img {
      width: 100px;
      display: flex;
      margin-inline: auto;
      transition-duration: .25s;

      @media screen and (min-width: utils.$bp-desktop) {
        width: 150px;
      }
    }

    .maintext {
      margin-bottom: .7rem;
    }

    ul {
      list-style-type: none;
      margin-top: .9em;
    }
  }

  .footer-links {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.75rem;

    @media screen and (min-width: utils.$bp-tablet) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2.5rem;
    }

    h4 {
      margin-bottom: .15em;
    }

    ul {
      margin: 0;
      list-style-type: none;

      a {
        text-decoration: none;
        color: var(--col-gray-darkest);
      }
    }
  }
}

.text-group > * {
  margin: 0;
}

/* Navigation style */
#mobile-data-toggle {
  cursor: pointer;
}

#mobile-data {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #EEE;
  z-index: 600;
  padding-top: 5rem;
  right: -100%;
  transition-duration: 0.5s;
}

nav,
#mobile-nav,
#mobile-data {
  a {
    text-decoration: none;
    color: inherit;
  }
}

a.back {
  cursor: pointer;
  margin-bottom: 1.25rem;

  @media screen and (min-width: utils.$bp-tablet) {
    margin-bottom: 1.75rem;
  }
}

nav img {
  transition-duration: 0.25s;
}

@media only screen and (max-width: utils.$bp-tablet) {
  #mobile-nav,
  #mobile-data {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--col-primary);
    color: #EEE;
    font-size: 1.25rem;
    z-index: 600;
    padding-top: 5rem;
    right: -100%;
    transition-duration: 0.5s;

    &.open {
      right: 0;
    }

    #mobile-close,
    #mobile-data-close {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 30px;
      color: var(--col-primary);
      font-weight: 600;
      cursor: pointer;
    }

    #mobile-links,
    #mobile-data-links {
      position: relative;
      width: utils.$width;
      margin-inline: auto;

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        li {
          font-size: 120%;
          font-weight: 500;
        }

        #mobile-logo-li img {
          width: 80px;
          margin-bottom: 3rem;
        }
      }
    }
  }

  #mobile-data {
    left: -100%;

    &.open {
      left: 0;
    }

    #mobile-data-links {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      font-size: 120%;
      font-weight: 500;

      a:first-of-type {
        margin-top: 7.5rem;
      }
    }
  }
}

@media only screen and (min-width: utils.$bp-tablet) {
  #mobile-nav {
    display: none;
  }
}

nav {
  display: flex;
  flex-direction: column;
  box-shadow: map-get(utils.$boxShadows, 'lg');
  transition-duration: .25s;

  > * {
    transition-duration: 0.25s;
  }

  #links {
    padding-block: .75rem;

    > ul {
      width: utils.$width;
      margin-inline: auto;
      margin-block: 0 !important;

      > * {
        transition-duration: 0.25s;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      list-style-type: none;

      li a {
        position: relative;
        overflow: hidden;

        &::before {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          height: 2px;
          width: 0;
          background-color: #343434;
          transition-duration: 0.25s;
        }
      }

      li a.active::before {
        width: 100%;
      }

      li:not(#logo-li) {
        display: none;
      }

      #logo-li {
        img {
          height: 65px;
          width: auto;
        }
      }

      li#hamburger {
        display: block;
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
    }
  }

  #header-banner {
    background-color: var(--col-primary);
    padding-block: 0.75rem;

    > div {
      color: #EFEFEF;
      display: flex;
      gap: 2.5rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: utils.$width;
      margin-inline: auto;

      > article {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
    }

    #icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.75rem;
    }
  }
}

#icons svg {
  width: 24px;
  height: auto;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: .75rem;
  margin-top: .75rem;

  @media screen and (min-width: utils.$bp-tablet) {
    gap: 1.25rem;
    margin-top: 3.5rem;
  }
}

nav {
  position: sticky;
  z-index: 500;
  top: 0;
  transition-duration: 0.25s;

  #links {
    padding-block: 1.25rem;
    display: block;
    background-color: var(--col-white-element);
  }

  &.scrolled #links ul #logo-li img {
    height: 35px;

    @media only screen and (min-width: utils.$bp-tablet) {
      height: 50px;
    }
  }

  #mobile-data-toggle {
    font-weight: 600;
  }
}

#header-banner div a {
  display: none;
}

#header-banner div #icons {
  display: flex;
  flex-direction: row;

  a {
    display: block;
  }
}

@media only screen and (min-width: utils.$bp-tablet) {
  nav {
    #links {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        li:not(#hamburger) {
          display: block;
        }

        #hamburger {
          display: none !important;
        }

        #logo-li {
          img {
            height: 75px;
            width: auto;
          }
        }
      }
    }
  }

  #mobile-data-toggle {
    display: none;
  }

  #header-banner div {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    a {
      display: block;
    }
  }
}

#page-darker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;

  display: flex;
  justify-content: center;
  align-items: center;

  #information {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 1rem;
    left: 0;
    color: #EFEFEF;
    font-size: 1.15rem;
  }

  > * {
    z-index: 999;
  }
}

#buying-popup {
  position: relative;
  padding: 1rem;
  background-color: #EEE;
  border-radius: 15px;
  width: min(85%, 55rem);

  @media screen and (min-width: utils.$bp-tablet) {
    padding: 2rem;
  }

  @media screen and (min-width: utils.$bp-desktop) {
    padding: 3rem;
  }
}

.align-center {
  display: flex;
  align-items: center;
}

html body input.lkke {
  padding: .15em .35em;
  margin: .25em .5em;
  border: none;
  border-radius: 5px;
  background-color: #efefef;

  &[type=number] {
    width: 65px;
  }

  &[type=text], &[type=email], &[type=password] {
    width: 100%;
  }
}

.table {
  width: 100%;
  overflow-x: auto;

  table {
    border-collapse: collapse;
    width: 100%;

    tr, td {
      padding: .5em 1.25em;
    }

    tr {
      border-radius: 5px;

      &:nth-child(even) {
        background-color: var(--col-gray-lighter);
      }

      td {
        text-align: center;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }
}


.toast {
  position: relative;
  width: 100%;
  background-color: var(--col-white-element-higher);
  box-shadow: map-get(utils.$boxShadows, 'md');
  border-radius: 0;
  padding: 1rem;
  overflow: hidden;
  transition-duration: .25s;

  @media screen and (min-width: utils.$bp-tablet) {
    padding: 1.75rem;
    border-radius: 10px;
  }

  .toast-progress {
    height: 3px;
    position: absolute;
    left: unset;
    right: 0;
    transform-origin: right;
    background: var(--col-tertiary);
    bottom: unset;
    top: 0;
  }

  .toast-title {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--col-tertiary);
  }

  .toast-content {
    font-size: 1rem;
    color: var(--col-gray-darkest);
  }

  .toast-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: .5rem;
    margin-top: 1rem;
  }

  .toast-button {
    @include button();
    @extend .button;

    &:first-child {
      @extend .button;
    }

    &:nth-child(2) {
      @extend .button-secondary;
    }

    &:nth-child(n+3) {
      @extend .button-tertiary;
    }
  }

  .toast-close {
    position: absolute;
    top: 0;
    right: 1rem;
    border: none;
    background-color: transparent;
    color: var(--col-tertiary);
    font-size: 2.25rem;
    cursor: pointer;
  }
}

ul {
  list-style-position: inside;

  &:not(.ignore-margin) {
    margin-block: 1rem;
  }
}

p, span, a {
  sup {
    color: var(--col-gray-darker);
    font-size: 70%;
    margin: 0 .05rem 0 .125rem;

    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }
  }
}

.footnotes {
  margin-top: 2rem;
  color: var(--col-gray-darker);

  @media screen and (min-width: utils.$bp-tablet) {
    margin-top: 2.5rem;
  }

  sup {
    margin-right: .25rem;
  }
}

$list-spacing: 1rem;
.list {
  &:not(.ignore-margin) {
    margin-block: 1rem;
  }

  .list-item {
    position: relative;
    margin-left: $list-spacing;

    &::before {
      position: absolute;
      content: '';
      top: .67em;
      left: -#{$list-spacing};
      width: 10px;
      height: 3px;
      background-color: var(--col-secondary);
    }
  }

  .list {
    margin-block: .35rem;
  }
}