@use "utils";

.seller-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  @media screen and (min-width: utils.$bp-tablet) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3.5rem;
  }
}

.grid-item {
  position: relative;
  border-radius: 5px;
  background-color: utils.$col-gray;
  box-shadow: 0 3px 5px rgba(0 0 0 / 15%);
  transition-duration: .25s;
  cursor: default;
  overflow: hidden;

  display: flex;
  flex-direction: column-reverse;

  &:hover {
    box-shadow: 0 5px 15px rgba(0 0 0 / 20%);
    transform: translateY(-5px) !important;

    .grid-information {
      top: 0 !important;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grid-information {
    padding: 2rem;
    background-color: #343434;
    color: #F3F3F3;

    @media screen and (min-width: utils.$bp-tablet) {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: 100% !important;
      left: 0 !important;
      background-color: transparentize(#343434, .25);
      padding: 3rem;
      transition-duration: .25s;
    }

    p {
      font-size: 1.2rem;
      font-weight: 800;

      @media screen and (min-width: utils.$bp-tablet) {
        font-size: 1.35rem;
      }
    }

    .grid-buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 1.5rem;
    }
  }
}

.search {
  margin-top: 1.5rem;

  @media screen and (min-width: utils.$bp-tablet) {
    margin-top: 2.5rem;
  }

  @media screen and (min-width: utils.$bp-desktop) {
    margin-top: 3.75rem;
  }
}